In [1]:
import pandas as pd

### Understanding our data

In [2]:
animals_df = pd.read_csv("animals first data.csv")

In [3]:
copy_df = animals_df.copy()

In [4]:
animals_df

,Scientific Name,Class,Order,Family,Trend,Status,Life Span (years),Length (cm),Weight (kg),Is Social,...,Europe,Oceania,South America,Central America,North America,Cold,Dry/Desert,Polar/Tundra,Temperate,Tropical
0,Canis lupus arctos,mammalia,carnivora,canidae,NaN,0.0,12.0,50.00,51.0000,1,...,0,0,0,0,0,0,0,1,0,0
1,Vulpes lagopus,mammalia,carnivora,canidae,1.0,0.0,8.5,53.50,5.0000,0,...,1,0,0,0,0,0,0,1,0,0
2,Tamiasciurus hudsonicus,mammalia,rodentia,sciuridae,1.0,0.0,7.5,32.50,0.2395,0,...,0,0,0,0,0,1,1,1,1,0
3,Canis lupus,mammalia,carnivora,canidae,1.0,0.0,15.0,132.50,38.0000,1,...,1,0,0,0,0,1,1,1,1,0
4,Mustela erminea,mammalia,carnivora,mustelidae,1.0,0.0,6.5,24.75,0.2190,0,...,1,1,0,0,0,1,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1584,Melanerpes erythrocephalus,aves,piciformes,picidae,0.0,0.0,10.5,22.00,0.0765,0,...,0,0,0,0,0,0,0,0,1,1
1585,Mniotilta varia,aves,passeriformes,parulidae,0.0,0.0,11.0,12.00,0.0115,0,...,0,0,0,0,0,1,0,0,1,1
1586,Leuconotopicus albolarvatus,aves,piciformes,picidae,1.0,0.0,6.5,22.00,0.0600,0,...,0,0,0,0,0,0,0,0,1,0
1587,Dryobates borealis,aves,piciformes,picidae,0.0,0.0,14.0,20.50,0.0480,1,...,0,0,0,0,0,0,0,0,1,0
1588,Cistothorus palustris,aves,passeriformes,troglodytidae,2.0,0.0,9.0,12.00,0.0115,0,...,0,0,0,0,0,0,0,0,1,1

In [5]:
animals_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1589 entries, 0 to 1588
Data columns (total 29 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Scientific Name           1589 non-null   object
 1   Class                     1589 non-null   object
 2   Order                     1589 non-null   object
 3   Family                    1589 non-null   object
 4   Trend                     1291 non-null   float64
 5   Status                    1492 non-null   float64
 6   Life Span (years)         1525 non-null   float64
 7   Length (cm)               1474 non-null   float64
 8   Weight (kg)               1447 non-null   float64
 9   Is Social                 1589 non-null   int64
 10  Is Nocturnal              1589 non-null   int64
 11  Diet                      1582 non-null   float64
 12  Mating Behavior           1199 non-null   float64
 13  Incubation Period (days)  1460 non-null   float64
 14  Baby Carrying             1546 non-null   float64
 15  Independent Age (days)    1139 non-null   float64
 16  Africa                    1589 non-null   int64
 17  Antarctica                1589 non-null   int64
 18  Asia                      1589 non-null   int64
 19  Europe                    1589 non-null   int64
 20  Oceania                   1589 non-null   int64
 21  South America             1589 non-null   int64
 22  Central America           1589 non-null   int64
 23  North America             1589 non-null   int64
 24  Cold                      1589 non-null   int64
 25  Dry/Desert                1589 non-null   int64
 26  Polar/Tundra              1589 non-null   int64
 27  Temperate                 1589 non-null   int64
 28  Tropical                  1589 non-null   int64
dtypes: float64(10), int64(15), object(4)
memory usage: 360.1+ KB

In [6]:
animals_df.describe(include='all')

,Scientific Name,Class,Order,Family,Trend,Status,Life Span (years),Length (cm),Weight (kg),Is Social,...,Europe,Oceania,South America,Central America,North America,Cold,Dry/Desert,Polar/Tundra,Temperate,Tropical
count,1589,1589,1589,1589,1291.000000,1492.000000,1525.000000,1474.000000,1447.000000,1589.000000,...,1589.000000,1589.000000,1589.000000,1589.000000,1589.000000,1589.000000,1589.000000,1589.000000,1589.000000,1589.000000
unique,1588,3,60,255,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,Arctocephalus pusillus,mammalia,artiodactyla,bovidae,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,2,865,203,91,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,0.625871,0.274129,19.516066,93.221303,418.165346,0.561989,...,0.177470,0.193203,0.014475,0.014475,0.014475,0.185651,0.264317,0.103839,0.618628,0.641284
std,NaN,NaN,NaN,NaN,0.713272,0.446224,15.766117,165.950416,4850.671837,0.496299,...,0.382186,0.394935,0.119474,0.119474,0.119474,0.388947,0.441108,0.305147,0.485876,0.479775
min,NaN,NaN,NaN,NaN,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,NaN,NaN,NaN,NaN,0.000000,0.000000,10.000000,27.500000,0.260750,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,NaN,NaN,NaN,NaN,0.000000,0.000000,16.000000,53.000000,2.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
75%,NaN,NaN,NaN,NaN,1.000000,1.000000,25.000000,100.000000,14.500000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000
max,NaN,NaN,NaN,NaN,2.000000,1.000000,162.500000,2750.000000,130000.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [7]:
animals_df.describe()

,Trend,Status,Life Span (years),Length (cm),Weight (kg),Is Social,Is Nocturnal,Diet,Mating Behavior,Incubation Period (days),...,Europe,Oceania,South America,Central America,North America,Cold,Dry/Desert,Polar/Tundra,Temperate,Tropical
count,1291.000000,1492.000000,1525.000000,1474.000000,1447.000000,1589.000000,1589.000000,1582.000000,1199.000000,1460.000000,...,1589.000000,1589.000000,1589.000000,1589.000000,1589.000000,1589.000000,1589.000000,1589.000000,1589.000000,1589.000000
mean,0.625871,0.274129,19.516066,93.221303,418.165346,0.561989,0.343612,1.110619,0.530442,104.471233,...,0.177470,0.193203,0.014475,0.014475,0.014475,0.185651,0.264317,0.103839,0.618628,0.641284
std,0.713272,0.446224,15.766117,165.950416,4850.671837,0.496299,0.475063,0.919822,0.499281,107.846425,...,0.382186,0.394935,0.119474,0.119474,0.119474,0.388947,0.441108,0.305147,0.485876,0.479775
min,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,10.000000,27.500000,0.260750,0.000000,0.000000,0.000000,0.000000,28.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,16.000000,53.000000,2.000000,1.000000,0.000000,1.000000,1.000000,59.750000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
75%,1.000000,1.000000,25.000000,100.000000,14.500000,1.000000,1.000000,2.000000,1.000000,165.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000
max,2.000000,1.000000,162.500000,2750.000000,130000.000000,1.000000,1.000000,4.000000,1.000000,660.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [8]:
animals_df.Status.value_counts()

0.0    1083
1.0     409
Name: Status, dtype: int64

In [9]:
missing_status_df = copy_df[copy_df['Status'].isna()]

In [10]:
missing_status_df

,Scientific Name,Class,Order,Family,Trend,Status,Life Span (years),Length (cm),Weight (kg),Is Social,...,Europe,Oceania,South America,Central America,North America,Cold,Dry/Desert,Polar/Tundra,Temperate,Tropical
5,Chlamyphorus truncatus,mammalia,cingulata,chlamyphoridae,NaN,NaN,7.0,10.25,0.12,0,...,0,0,0,0,0,0,1,0,1,0
8,Sus scrofa domesticus,mammalia,artiodactyla,suidae,NaN,NaN,10.5,540.00,200.00,1,...,1,1,1,1,1,1,1,0,1,1
11,Canis lupus baileyi,mammalia,carnivora,canidae,NaN,NaN,12.5,144.50,31.50,1,...,0,0,0,0,0,0,0,0,1,1
13,Bos taurus,mammalia,artiodactyla,bovidae,NaN,NaN,18.5,NaN,650.00,1,...,1,1,1,1,1,1,0,0,1,0
40,Canis lupus occidentalis,mammalia,carnivora,canidae,NaN,NaN,NaN,63.00,51.00,1,...,0,0,0,0,0,1,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1067,Bitis nasicornis,reptilia,squamata,viperidae,NaN,NaN,8.0,89.50,NaN,0,...,0,0,0,0,0,0,0,0,0,1
1077,Bothrops atrox,reptilia,squamata,viperidae,NaN,NaN,8.0,100.00,NaN,0,...,0,0,0,0,0,0,0,0,0,1
1081,Naja nivea,reptilia,squamata,elapidae,NaN,NaN,16.0,100.00,NaN,0,...,0,0,0,0,0,0,1,0,1,1
1197,Eudyptes (chrysocome),aves,sphenisciformes,spheniscidae,NaN,NaN,10.0,NaN,2.50,1,...,0,1,0,0,0,1,0,0,1,0
1536,Anas carolinensis,aves,anseriformes,anatidae,NaN,NaN,20.0,35.00,0.32,1,...,0,0,0,0,0,0,0,1,1,1

In [11]:
copy_df.set_index(keys = 'Scientific Name', drop=True, inplace=True)

### We found missing Statuses and we filled it manually (using external resources)

In [12]:
copy_df

,Class,Order,Family,Trend,Status,Life Span (years),Length (cm),Weight (kg),Is Social,Is Nocturnal,...,Europe,Oceania,South America,Central America,North America,Cold,Dry/Desert,Polar/Tundra,Temperate,Tropical
Scientific Name,,,,,,,,,,,,,,,,,,,,,
Canis lupus arctos,mammalia,carnivora,canidae,NaN,0.0,12.0,50.00,51.0000,1,0,...,0,0,0,0,0,0,0,1,0,0
Vulpes lagopus,mammalia,carnivora,canidae,1.0,0.0,8.5,53.50,5.0000,0,0,...,1,0,0,0,0,0,0,1,0,0
Tamiasciurus hudsonicus,mammalia,rodentia,sciuridae,1.0,0.0,7.5,32.50,0.2395,0,0,...,0,0,0,0,0,1,1,1,1,0
Canis lupus,mammalia,carnivora,canidae,1.0,0.0,15.0,132.50,38.0000,1,1,...,1,0,0,0,0,1,1,1,1,0
Mustela erminea,mammalia,carnivora,mustelidae,1.0,0.0,6.5,24.75,0.2190,0,1,...,1,1,0,0,0,1,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Melanerpes erythrocephalus,aves,piciformes,picidae,0.0,0.0,10.5,22.00,0.0765,0,0,...,0,0,0,0,0,0,0,0,1,1
Mniotilta varia,aves,passeriformes,parulidae,0.0,0.0,11.0,12.00,0.0115,0,0,...,0,0,0,0,0,1,0,0,1,1
Leuconotopicus albolarvatus,aves,piciformes,picidae,1.0,0.0,6.5,22.00,0.0600,0,0,...,0,0,0,0,0,0,0,0,1,0
Dryobates borealis,aves,piciformes,picidae,0.0,0.0,14.0,20.50,0.0480,1,0,...,0,0,0,0,0,0,0,0,1,0
Cistothorus palustris,aves,passeriformes,troglodytidae,2.0,0.0,9.0,12.00,0.0115,0,0,...,0,0,0,0,0,0,0,0,1,1

In [13]:
not_evaluated_status = ['Mazama americana', 'Canis lupus pallipes', 'Delphinus capensis', 'Hyperoodon ampullatus',
                        'Berardius bairdii', 'Mesoplodon traversii', 'Coluber constrictor priapus',
                       'Tragulus versicolor', 'Balaenoptera omurai', 'Cebus imitator', 'Naja naja', 'Chelonoidis carbonaria',
                       'Indotyphlops braminus', 'Eunectes murinus', 'Dendroaspis angusticeps', 'Daboia russelii', 
                       'Agama agama', 'Echis carinatus', 'Python sebae', 'Cerastes cerastes', 
                       'Bitis arietans', 'Bothrops asper', 'Anolis equestris', 'Ahaetulla nasuta',
                       'Naja haje', 'Epicrates cenchria', 'Varanus niloticus', 'Python molurus',
                        'Bitis gabonica', 'Boiga dendrophila', 'Ptyas mucosa', 'Boa constrictor', 
                       'Calotes versicolor', 'Crocodylus suchus', 'Naja oxiana', 'Aotus zonalis', 
                       'Bitis nasicornis', 'Naja nivea', 'Cricetulus griseus', 'Dasyprocta azarae']

animal_safe = ['Genus Ateles', 'Lama glama', 'Vicugna pacos', 'Canis dingo', 'Caperea marginata',
              'Equus africanus asinus', 'Stenella longirostris', 'Bos grunniens', 'Lagenorhynchus obscurus',
              'Stenella frontalis', 'Ovis aries', 'Genus Nomascus', 'Pseudorca crassidens',
              'Kogia sima', 'Canis lupus crassodon', 'Balaenoptera bonaerensis', 'Globicephala macrorhynchus',
              'Tursiops aduncus', 'Balaenoptera brydei', 'Mustela putorius furo', 
              'Lagenorhynchus australis', 'Cavia porcellus', 'Phocoena dioptrica', 'Mesoplodon densirostris', 
              'Mesoplodon europaeus', 'Sus scrofa domesticus',
              'Bos taurus', 'Canis lupus occidentalis', 'Canis anthus', 'Camelus dromedarius', 
              'Globicephala melas', 'Anolis sagrei', 'Chelus fimbriata', 'Eunectes notaeus',
              'Dispholidus typus', 'Bothrops atrox', 'Anas carolinensis', 'Chlamyphorus truncatus']

animal_not_safe = ['Canis lycaon', 'Camelus bactrianus', 'Inia geoffrensis', 'Bos frontalis',
                  'Tarsius pumilus', 'Orcinus orca', 'Loxodonta cyclotis', 'Sotalia fluviatilis',
                  'Cercopithecus lomamiensis', 'Bubalus bubalis', 'Canis lupus baileyi', 
                  'Cheirogaleus major', 'Cercocebus chrysogaster', 'Testudo kleinmanni',
                  'Chelonoidis nigra', 'Lachesis muta', 'Eudyptes (chrysocome)']

In [14]:
print(len(not_evaluated_status) + len(animal_safe) + len(animal_not_safe))

95

In [15]:
for animal in not_evaluated_status:
    try:
        copy_df.drop(labels=animal, axis=0, inplace=True)
    except:
        print(animal)

In [16]:
for animal in animal_safe:
    try:
        copy_df.loc[animal, 'Status'] = 0
    except:
        print(animal)

In [17]:
for animal in animal_not_safe:
    try:
        copy_df.loc[animal, 'Status'] = 1
    except:
        print(animal)

In [19]:
copy_df.to_csv("animals updated data.csv")